.container {
  width: 100%;
  margin: 0;
  padding: 0;
  height: fit-content;
  position: relative;

}

.main {
  width: 100%;
  min-height: 100vh;
 background-blend-mode: color-burn;
  background-color: #f5f5f5;

}
